.top {
    display: flex;
}

.intro {
    padding: 10vh 10vw 5vh 10vw;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    /* background-color: #51aafa; */
    background-image: linear-gradient(to bottom, #3f349a, #51aafa);
    justify-content: center;
    padding-top: 50px;
}

.win {
    width: 100%;
    display: flex;
    gap: 10px;
    background-color: rgb(207, 222, 255);
    border-radius: 20px;
    padding: 10px;
    margin: 0;
}

.join-section {
    flex: 3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
    margin: 0;
}


.big, .little {
    margin: 0;
}

.big{
    font-family: "Verdana", sans-serif;
    font-size: 60px;
    font-weight: 600;
    padding: 10px;
}

.little {
    font-size: 16px;
    padding: 10px;
    padding-left: 15px;
}

.join-button{
    display: inline-flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.join-button a{
    text-decoration: none;
    color: #000000;
    padding: 15px 24px;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid rgb(173, 172, 172);
    border-radius: 20px;
}

.join-button a:hover{
    border-color: rgb(81, 77, 77);
}

.win hr{
    height: 1px;
    width: 100%;
}

hr {
    border: none;
    height: 1px;
    width: 100%;
    background-color: #595959;
    margin: 8px 0;
}